header {
    border-bottom: 1px solid #000;
    text-align: center;
}

section {
    cursor: pointer;
}
footer {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    text-align: center;
    cursor: pointer;
}